################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/NLitecoin/obj
/src/NLitecoin/bin
/tests/NLitecoin.Tests/obj
/tests/NLitecoin.Tests/bin
/tests/NLitecoin.MimbleWimble.Tests/obj
/tests/NLitecoin.MimbleWimble.Tests/bin